<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Chargement des balises meta pour le SEO #}
        <meta name="robots" content="index, follow">
        <meta name="description" content="Medecine du monde {% block description %}{% endblock %}">
        <meta name="keywords" content="backend, php, php8, Symfony, framework">
        
        {# Title #}
        <title>Medecine du monde{% block title %}{% endblock %}</title>
        
        {# Chargement de la Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("favicon/favicon-32x32.png") }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("favicon/favicon-16x16.png") }}">
        <link rel="manifest" href="{{ asset("favicon/site.webmanifest") }}">
        <link rel="mask-icon" href="{{ asset("favicon/safari-pinned-tab.svg") }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        {# Chargement de la font family #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap" rel="stylesheet">


        {% block encore_css %}
            {{ encore_entry_link_tags("app") }}
        {% endblock %}

        {% block encore_js %}
            {{ encore_entry_script_tags("app") }}
        {% endblock %}

    </head>
    <body>

        {# Barre de navigation #}
        {% include "layouts/navbar/_navbar_visitor.html.twig" %}
          
        {# Contenur spécifique à chaque page #}
        <main class="container-fluid">
            {% block main %}{% endblock %}
        </main>

        {# Footer #}
        {% include "layouts/footer/_footer_visitor.html.twig" %}

    </body>
</html>